body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  text-align: center;
  align-items: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.buttons {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  background-color: lightgray;
  opacity: 0.6;
  width: 100px;
  height: 100px;
  padding: 1em;
  margin: 1em;
  font-size: 2em;
}

.computer_choice {
  width: 100px;
  height: 100px;
}

.computer_choice_paper {
  background: url(img/hand-paper-regular.svg);
}
.computer_choice_rock {
  background: url(img/hand-rock-regular.svg);
}
.computer_choice_scissors {
  background: url(img/hand-scissors-regular.svg);
}

.scoreboard {
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
